@font-face {
    font-family: Chillax;
    src: url(vonique-64/Vonique\ 64.ttf);
    src: url(vonique-64/Vonique\ 64\ Bold.ttf);
    src: url(vonique-64/Vonique\ 64\ Bold\ Italic.ttf);
    src: url(vonique-64/Vonique\ 64\ Italic.ttf);
}

@font-face {
    font-family: 'Chillax-Regular';
    src: url('../fonts/Chillax-Regular.woff2') format('woff2'),
         url('../fonts/Chillax-Regular.woff') format('woff'),
         url('../fonts/Chillax-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }



*{
    margin: 0px;
    padding-top: 5px;
    font-family: 'vonique-64';
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}




/*------------------------navigation-------------------*/
html, body{
    height: 100%;
  }
  
  body{
    margin: 0;
  }
  
  nav{
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    padding-left: 223px;
    padding-right: 222px;
    font-family: 'Chillax-Regular';
    
  }
  
  a{
    text-decoration: none;
    padding: 0 94px;
    color: black;
  }

  a:hover{
    color: #3A9FD5;
  }
  
  #logo{
    padding-left: 283px;
    padding-right: 283px;
  }



/************************hero***************************/


.hero{
    text-align: center;
    margin-top: 100px;
    font-family: "Chillax-Regular";

}




.role{
    margin-top: 27px;
    color: #3A9FD5;
}


.description{
    margin-top: 27px;
}


.icons{
    display: grid;
    grid-template-columns:34.4px 34.4px ;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
}

.linkedin{
    border: solid;
    border-width: .5px .5px .5px .5px;
    align-items: center;
    padding: 10px 12px 10px 12px;
    border-color: #797979;
}


.mail{
    border: solid;
    border-width: 0.5px 0.5px 0.5px 0.5px;
    align-items: center;
    padding: 10px 12px 10px 12px;
    border-color: #797979;
}

/*------------------Carousel------------------*/


.grid-container{
    display: grid;
    grid-template-columns: 487px 487px;
    grid-template-rows: 487px 487px;
    gap: 21px;
    justify-content: center;
    margin-top: 100px;  
    margin-bottom: 100px;

}




.grid-item-1{
    background-image: url("rectangle 3.png");
    background-size: cover;

}

.grid-item-2{
    background-image: url("rectangle 2.png");
    background-size: cover;

}

.grid-item-3{
    background-image: url("Cortado.png");
    background-size: cover;

}

.grid-item-4{
    background-image: url("coming\ soon.png");
    background-size: cover;

}

.inner-text{
    text-align: center;
    color: white;
    opacity: 0;
}

.inner-text:hover{
    background-color: black;
    opacity: 20px;

}




/*-----------------other projects---------------*/


.other-projects-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    align-items: center;
}


.project-1{
    padding: 10px;
    border-width: 0.5px;

}

.project-2{
    padding: 10px;
    border-style: none solid none solid;
    border-width: 0.5px;

}

.project-3{
    padding: 10px;
    border-width: 0.5px;

}