*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*------------------------navigation-------------------*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 80px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size:17px ;
}

.nav-links ul li::after{
    content:'' ;
    width: 0%;
    height: 2px;
    background: #3A9FD5;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
} 

/*-------hide nav icons for larger breakpoints-----*/
nav .fa{
    display: none;
}


@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #3A9FD5;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s
    }
        /*-----display nav icons for smaller screens-----*/
        nav .fa{
        display: block;
        color:black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }


    .nav-links ul{
        padding: 30px;

    }

}


/************************hero***************************/




.text-box{ /*------------main container------------*/
    width: 90%;
    color: black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 20%;
}

.text-box h1{ /*---------------headline text---------------*/
    font-size: 62px;
    margin-top: 5%;
}

.text-box h3{
    color: #3A9FD5;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 25px;
}

.text-box p{ /*----text paragraph---------------*/
    margin: 10px 0 40px;
    font-size: 20px;
    color: black;
    
}

/*-------Hero Button-----*/

.hero-button{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid #3A9FD5;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
}

.hero-button:hover{
    border: 1px solid #3A9FD5;
    background: #3A9FD5;
    color: white;
    transition: 1s;
}



@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #3A9FD5;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s
    }

    .row{
        flex-direction: column;
        column-gap: 10em;
    }

    .text-box{
        margin-top: 50%;
    }

    .text-box h1{
        font-size: 30px;
    }

    .text-box h3{
        font-size: 20px;
    }
}


.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.row{
    display: flex;
    justify-content: center;
    gap: 2em;
}



.campus-col{
    flex-basis: 32%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
}

.campus-col img{
    width: 100%;
    display: block;
    align-content: center;
}

/*------overlay layer--------------------*/
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(0, 0, 0, 0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.layer p{
    width: 100%;
    font-weight: 50;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover p{
    bottom: 49%;
    opacity: 1;
}

.top-text h3{
    position: relative;
}

.top-text p{
    position: relative;
    font-size: 18px;
    line-height: 150%;
}

.top-text{
    padding: 10%;

}


/*-----------------other projects---------------*/

.other-projects-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    align-items: center;
}

.project-1{
    padding: 10px;
    border-width: 0.5px;
}

.project-2{
    padding: 10px;
    border-style: none solid none solid;
    border-width: 0.5px;
}

.project-3{
    padding: 10px;
    border-width: 0.5px;
}

.other-projects-footer a{
    text-decoration: none;
    color: black;
}